@inherits LanguagePackManagerWebPage
@using Connect.LanguagePackManager.Presentation.Common
@{
  LanguagePackManagerModuleContext.AddModuleScript();
}

<h1>LanguagePack Manager</h1>

<div>
  <a href="@Url.Action("Index", "Links")">Package Links</a>
</div>
